<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseUserRoleMapper">
    
    <resultMap type="BaseUserRole" id="BaseUserRoleResult">
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>

    <sql id="selectBaseUserRoleVo">
        select user_id, role_id from base_user_role
    </sql>

    <select id="selectBaseUserRoleList" parameterType="BaseUserRole" resultMap="BaseUserRoleResult">
        <include refid="selectBaseUserRoleVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectBaseUserRoleByUserId" parameterType="Long" resultMap="BaseUserRoleResult">
        <include refid="selectBaseUserRoleVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertBaseUserRole" parameterType="BaseUserRole">
        insert into base_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
         </trim>
    </insert>

    <update id="updateBaseUserRole" parameterType="BaseUserRole">
        update base_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteBaseUserRoleByUserId" parameterType="Long">
        delete from base_user_role where user_id = #{userId}
    </delete>

    <delete id="deleteBaseUserRoleByUserIds" parameterType="String">
        delete from base_user_role where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>