<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseRefundMapper">
    
    <resultMap type="BaseRefund" id="BaseRefundResult">
        <result property="id"    column="id"    />
        <result property="payinfoId"    column="payinfo_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBaseRefundVo">
        select id, payinfo_id, order_no, user_id, amount, status, update_time, create_time from base_refund
    </sql>

    <select id="selectBaseRefundList" parameterType="BaseRefund" resultMap="BaseRefundResult">
        <include refid="selectBaseRefundVo"/>
        <where>  
            <if test="payinfoId != null "> and payinfo_id = #{payinfoId}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseRefundById" parameterType="Long" resultMap="BaseRefundResult">
        <include refid="selectBaseRefundVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseRefund" parameterType="BaseRefund" useGeneratedKeys="true" keyProperty="id">
        insert into base_refund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payinfoId != null">payinfo_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payinfoId != null">#{payinfoId},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBaseRefund" parameterType="BaseRefund">
        update base_refund
        <trim prefix="SET" suffixOverrides=",">
            <if test="payinfoId != null">payinfo_id = #{payinfoId},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseRefundById" parameterType="Long">
        delete from base_refund where id = #{id}
    </delete>

    <delete id="deleteBaseRefundByIds" parameterType="String">
        delete from base_refund where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>