<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseMachineContractMapper">
    
    <resultMap type="BaseMachineContract" id="BaseMachineContractResult">
        <result property="id"    column="id"    />
        <result property="sbId"    column="sb_id"    />
        <result property="sbName"    column="sb_name"    />
        <result property="endTime"    column="end_time"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBaseMachineContractVo">
        select id, sb_id, sb_name, end_time, price, create_time, update_time, status from base_machine_contract
    </sql>

    <select id="selectBaseMachineContractList" parameterType="BaseMachineContract" resultMap="BaseMachineContractResult">
        <include refid="selectBaseMachineContractVo"/>
        <where>  
            <if test="sbId != null  and sbId != ''"> and sb_id = #{sbId}</if>
            <if test="sbName != null  and sbName != ''"> and sb_name like concat('%', #{sbName}, '%')</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseMachineContractById" parameterType="Long" resultMap="BaseMachineContractResult">
        <include refid="selectBaseMachineContractVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseMachineContract" parameterType="BaseMachineContract" useGeneratedKeys="true" keyProperty="id">
        insert into base_machine_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbId != null">sb_id,</if>
            <if test="sbName != null">sb_name,</if>
            <if test="endTime != null">end_time,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbId != null">#{sbId},</if>
            <if test="sbName != null">#{sbName},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateBaseMachineContract" parameterType="BaseMachineContract">
        update base_machine_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="sbId != null">sb_id = #{sbId},</if>
            <if test="sbName != null">sb_name = #{sbName},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseMachineContractById" parameterType="Long">
        delete from base_machine_contract where id = #{id}
    </delete>

    <delete id="deleteBaseMachineContractByIds" parameterType="String">
        delete from base_machine_contract where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>