<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseDeliveryCodeMapper">
    
    <resultMap type="BaseDeliveryCode" id="BaseDeliveryCodeResult">
        <result property="id"    column="id"    />
        <result property="sbId"    column="sb_id"    />
        <result property="deliveryInfo"    column="delivery_info"    />
        <result property="deliveryCode"    column="delivery_code"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="huodaos"    column="huodaos"    />
        <result property="mtOrder"    column="mt_order"    />
    </resultMap>

    <sql id="selectBaseDeliveryCodeVo">
        select id, sb_id, delivery_info, delivery_code, status, update_time, create_time, start_time, end_time, remark, user_id, huodaos, mt_order from base_delivery_code
    </sql>

    <select id="selectBaseDeliveryCodeList" parameterType="BaseDeliveryCode" resultMap="BaseDeliveryCodeResult">
        <include refid="selectBaseDeliveryCodeVo"/>
        <where>  
            <if test="sbId != null  and sbId != ''"> and sb_id = #{sbId}</if>
            <if test="deliveryInfo != null  and deliveryInfo != ''"> and delivery_info = #{deliveryInfo}</if>
            <if test="deliveryCode != null  and deliveryCode != ''"> and delivery_code = #{deliveryCode}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="huodaos != null  and huodaos != ''"> and huodaos = #{huodaos}</if>
            <if test="mtOrder != null  and mtOrder != ''"> and mt_order = #{mtOrder}</if>
        </where>
    </select>
    
    <select id="selectBaseDeliveryCodeById" parameterType="Long" resultMap="BaseDeliveryCodeResult">
        <include refid="selectBaseDeliveryCodeVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseDeliveryCode" parameterType="BaseDeliveryCode" useGeneratedKeys="true" keyProperty="id">
        insert into base_delivery_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbId != null">sb_id,</if>
            <if test="deliveryInfo != null">delivery_info,</if>
            <if test="deliveryCode != null">delivery_code,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="huodaos != null">huodaos,</if>
            <if test="mtOrder != null">mt_order,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbId != null">#{sbId},</if>
            <if test="deliveryInfo != null">#{deliveryInfo},</if>
            <if test="deliveryCode != null">#{deliveryCode},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="huodaos != null">#{huodaos},</if>
            <if test="mtOrder != null">#{mtOrder},</if>
         </trim>
    </insert>

    <update id="updateBaseDeliveryCode" parameterType="BaseDeliveryCode">
        update base_delivery_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="sbId != null">sb_id = #{sbId},</if>
            <if test="deliveryInfo != null">delivery_info = #{deliveryInfo},</if>
            <if test="deliveryCode != null">delivery_code = #{deliveryCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="huodaos != null">huodaos = #{huodaos},</if>
            <if test="mtOrder != null">mt_order = #{mtOrder},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseDeliveryCodeById" parameterType="Long">
        delete from base_delivery_code where id = #{id}
    </delete>

    <delete id="deleteBaseDeliveryCodeByIds" parameterType="String">
        delete from base_delivery_code where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>