<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseMachineInfoMapper">
    
    <resultMap type="BaseMachineInfo" id="BaseMachineInfoResult">
        <result property="id"    column="id"    />
        <result property="sbId"    column="sb_id"    />
        <result property="info"    column="info"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBaseMachineInfoVo">
        select id, sb_id, info, update_time, create_time from base_machine_info
    </sql>

    <select id="selectBaseMachineInfoList" parameterType="BaseMachineInfo" resultMap="BaseMachineInfoResult">
        <include refid="selectBaseMachineInfoVo"/>
        <where>  
            <if test="sbId != null  and sbId != ''"> and sb_id = #{sbId}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
        </where>
    </select>
    
    <select id="selectBaseMachineInfoById" parameterType="Integer" resultMap="BaseMachineInfoResult">
        <include refid="selectBaseMachineInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseMachineInfo" parameterType="BaseMachineInfo" useGeneratedKeys="true" keyProperty="id">
        insert into base_machine_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbId != null">sb_id,</if>
            <if test="info != null">info,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbId != null">#{sbId},</if>
            <if test="info != null">#{info},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBaseMachineInfo" parameterType="BaseMachineInfo">
        update base_machine_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="sbId != null">sb_id = #{sbId},</if>
            <if test="info != null">info = #{info},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseMachineInfoById" parameterType="Integer">
        delete from base_machine_info where id = #{id}
    </delete>

    <delete id="deleteBaseMachineInfoByIds" parameterType="String">
        delete from base_machine_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>