<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseSysRoleMapper">
    
    <resultMap type="BaseSysRole" id="BaseSysRoleResult">
        <result property="roleId"    column="role_id"    />
        <result property="roleName"    column="role_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBaseSysRoleVo">
        select role_id, role_name, update_time, remark from base_sys_role
    </sql>

    <select id="selectBaseSysRoleList" parameterType="BaseSysRole" resultMap="BaseSysRoleResult">
        <include refid="selectBaseSysRoleVo"/>
        <where>  
            <if test="roleName != null  and roleName != ''"> and role_name like concat('%', #{roleName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBaseSysRoleByRoleId" parameterType="Long" resultMap="BaseSysRoleResult">
        <include refid="selectBaseSysRoleVo"/>
        where role_id = #{roleId}
    </select>

    <insert id="insertBaseSysRole" parameterType="BaseSysRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into base_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">role_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">#{roleName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBaseSysRole" parameterType="BaseSysRole">
        update base_sys_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteBaseSysRoleByRoleId" parameterType="Long">
        delete from base_sys_role where role_id = #{roleId}
    </delete>

    <delete id="deleteBaseSysRoleByRoleIds" parameterType="String">
        delete from base_sys_role where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>