<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseMachineMonitorRechargeMapper">
    
    <resultMap type="BaseMachineMonitorRecharge" id="BaseMachineMonitorRechargeResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="machineId"    column="machine_id"    />
        <result property="sbId"    column="sb_id"    />
        <result property="sbName"    column="sb_name"    />
        <result property="userId"    column="user_id"    />
        <result property="day"    column="day"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBaseMachineMonitorRechargeVo">
        select id, order_no, machine_id, sb_id, sb_name, user_id, day, amount, status, update_time, create_time from base_machine_monitor_recharge
    </sql>

    <select id="selectBaseMachineMonitorRechargeList" parameterType="BaseMachineMonitorRecharge" resultMap="BaseMachineMonitorRechargeResult">
        <include refid="selectBaseMachineMonitorRechargeVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="machineId != null "> and machine_id = #{machineId}</if>
            <if test="sbId != null  and sbId != ''"> and sb_id = #{sbId}</if>
            <if test="sbName != null  and sbName != ''"> and sb_name like concat('%', #{sbName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="day != null "> and day = #{day}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseMachineMonitorRechargeById" parameterType="Long" resultMap="BaseMachineMonitorRechargeResult">
        <include refid="selectBaseMachineMonitorRechargeVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseMachineMonitorRecharge" parameterType="BaseMachineMonitorRecharge" useGeneratedKeys="true" keyProperty="id">
        insert into base_machine_monitor_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="machineId != null">machine_id,</if>
            <if test="sbId != null">sb_id,</if>
            <if test="sbName != null">sb_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="day != null">day,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="machineId != null">#{machineId},</if>
            <if test="sbId != null">#{sbId},</if>
            <if test="sbName != null">#{sbName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="day != null">#{day},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBaseMachineMonitorRecharge" parameterType="BaseMachineMonitorRecharge">
        update base_machine_monitor_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="machineId != null">machine_id = #{machineId},</if>
            <if test="sbId != null">sb_id = #{sbId},</if>
            <if test="sbName != null">sb_name = #{sbName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="day != null">day = #{day},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseMachineMonitorRechargeById" parameterType="Long">
        delete from base_machine_monitor_recharge where id = #{id}
    </delete>

    <delete id="deleteBaseMachineMonitorRechargeByIds" parameterType="String">
        delete from base_machine_monitor_recharge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>