<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BaseActiveLocationMapper">
    
    <resultMap type="BaseActiveLocation" id="BaseActiveLocationResult">
        <result property="id"    column="id"    />
        <result property="sbId"    column="sb_id"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBaseActiveLocationVo">
        select id, sb_id, latitude, longitude, status, update_time, create_time from base_active_location
    </sql>

    <select id="selectBaseActiveLocationList" parameterType="BaseActiveLocation" resultMap="BaseActiveLocationResult">
        <include refid="selectBaseActiveLocationVo"/>
        <where>  
            <if test="sbId != null  and sbId != ''"> and sb_id = #{sbId}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaseActiveLocationById" parameterType="Long" resultMap="BaseActiveLocationResult">
        <include refid="selectBaseActiveLocationVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseActiveLocation" parameterType="BaseActiveLocation" useGeneratedKeys="true" keyProperty="id">
        insert into base_active_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbId != null">sb_id,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbId != null">#{sbId},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBaseActiveLocation" parameterType="BaseActiveLocation">
        update base_active_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="sbId != null">sb_id = #{sbId},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseActiveLocationById" parameterType="Long">
        delete from base_active_location where id = #{id}
    </delete>

    <delete id="deleteBaseActiveLocationByIds" parameterType="String">
        delete from base_active_location where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>